# Ignore the python cache folder
__pycache__/
Devices/__pycache__/

# ignore all cache files
*.pyc

# ignore .idea
.idea/

# ignore test files
test.*

# Ignore all github / git related files
.venv/
.guthub/
.git/
.mypy_cache/